/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v5/NGS6v5_NC0k9P-Hx.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.flex-down {
  display: flex;
  flex-direction: column;
}
.third {
  flex-basis: 30%;
}
html,
body {
  height: 100%;
  background: #EFEFEF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .container,
body .container {
  padding: 3% 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
}
html .container p,
body .container p,
html .container a,
body .container a,
html .container a:hover,
body .container a:hover {
  font-size: 1.6rem;
  text-decoration: none;
  color: #696373;
}
html .container ul,
body .container ul,
html .container ol,
body .container ol {
  margin-left: 5%;
  color: #696373;
  font-size: 2rem;
}
html .container h1,
body .container h1 {
  font-weight: bold;
  font-size: 2.6rem;
}
html .container h2,
body .container h2 {
  font-size: 1.4rem;
  color: white;
}
html .container h3,
body .container h3 {
  font-weight: bold;
  font-size: 1.6rem;
  color: #09B9CE;
  line-height: 3;
}
html .container h4,
body .container h4 {
  font-weight: bold;
  font-size: 1.4rem;
}
html .container .container-top,
body .container .container-top {
  display: flex;
  justify-content: center;
}
html .container .container-top header,
body .container .container-top header {
  flex-basis: 30%;
  margin: 3%;
}
html .container .container-top header #profile,
body .container .container-top header #profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #09B9CE;
  padding: 5%;
}
html .container .container-top header #profile img,
body .container .container-top header #profile img {
  position: relative;
  width: 200px;
  border-radius: 100px;
}
html .container .container-top header nav,
body .container .container-top header nav {
  align-self: center;
  display: flex;
  justify-content: space-around;
}
html .container .container-top header #contact,
body .container .container-top header #contact {
  display: flex;
  flex-direction: column;
  padding: 10%;
}
html .container .container-top header #contact p,
body .container .container-top header #contact p,
html .container .container-top header #contact a,
body .container .container-top header #contact a,
html .container .container-top header #contact a:hover,
body .container .container-top header #contact a:hover {
  font-size: 1.4rem;
  text-decoration: none;
  color: #696373;
}
html .container .container-top section,
body .container .container-top section {
  flex-basis: 30%;
}
html .container .container-top section div,
body .container .container-top section div {
  background: white;
  padding: 5% 10%;
  border-radius: 20px;
  margin: 3%;
}
html .container .container-top section #education ul,
body .container .container-top section #education ul {
  font-size: 3rem;
}
@media (max-width: 500px) {
  html .container .container-top,
  body .container .container-top {
    flex-direction: column;
  }
}
html .container hr,
body .container hr {
  border: 1px solid #5B5E66;
  width: 90%;
  border-radius: 20px;
  margin: 5% 0;
}
html .container footer,
body .container footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  html .container footer .reference,
  body .container footer .reference {
    margin: 5% 0;
  }
}
@media (max-width: 500px) {
  html .container footer,
  body .container footer {
    flex-wrap: wrap;
  }
}
